%div.chat

  %div.chat__side-bar
    = render partial: "shared/side/main"


  %div.chat__main

    %div.chat__main__info
      %div.chat__main__info__group-info
        %p.chat__main__info__group-info--group-name
          = @group.group_name
        %span.chat__main__info__group-info--menbers-rabel Menbers:
        = render partial: "/shared/main/info_groupuser", collection: @group.users, as: "users"

      %div.chat__main__info__edit-form
        = link_to "Edit", edit_group_path(@group), class: "chat__main__info__edit-form--button"


    %div.chat__main__contents
      %ul.chat__main__contents__chat-ul
        = render partial: "/shared/main/contents_message", collection: @group.messages, as: "message"


    %div.chat__main__inputform
      = form_for [@group, @message] do |f|
        %div.chat__main__inputform__text
          -#以下text_areaでは、required: true を使用しない。
          -#アラートメッセージが画面外にでてしまい、なぜ警告されるのかわからなくなる。
          -#また、メッセージはユーザviewに対し絶対位置に表示されるので、
          -# メッセージ表示後はスクロールしても画面内に入って来ない。かえって利便性を損なうと判断。
          = f.text_area :text, row: "1", placeholder: "type a message", class: "chat__main__inputform__text--text"
          %label.chat__main__inputform__text--image_label
            %input.chat__main__inputform__text--image_label--input{ type: 'file', name: 'message[image_url]' }
            %i.chat__main__inputform__text--image_label--input-deco.fa.fa-image

        %div.chat__main__inputform__button-div
        = f.submit "Send", class: "chat__main__inputform__button-div--button"
